header {
	background-image: url("../assets/mp_toxic/banner.jpg");
	background-color: var(--mp_toxic_color_1);
}

footer {
	background-image: linear-gradient(to right, var(--mp_toxic_color_1), var(--mp_toxic_color_3));
	border-color: var(--mp_toxic_color_4);
}

footer p {
	color: var(--mp_toxic_color_5);
}

.map {
	background-image: linear-gradient(to right, var(--mp_toxic_color_1), var(--mp_toxic_color_2));
}

.active {
	background-image: linear-gradient(to left, var(--mp_toxic_color_2), var(--mp_toxic_color_3)) !important;
	border-color: var(--mp_toxic_color_4);
}

.mapcontent {
	background-color: var(--mp_toxic_color_2);
}

.mapcontent p {
	color: var(--mp_toxic_color_4);
}

.mapcontent h1 {
	color: var(--mp_toxic_color_5);
}

.sidebar {
	background-image: linear-gradient(to right, var(--mp_toxic_color_2), var(--mp_toxic_color_3));
}

.credits {
	background-image: linear-gradient(to left, var(--mp_toxic_color_2), var(--mp_toxic_color_3));
	border-color: var(--mp_toxic_color_4);
}

.download {
	background-image: linear-gradient(to left, var(--mp_toxic_color_2), var(--mp_toxic_color_3));
	border-color: var(--mp_toxic_color_4);
}

map-image img {
	border-color: var(--mp_toxic_color_4);
}

.yt iframe{
	border-color: var(--mp_toxic_color_4);
}

.icon {
	fill: var(--mp_toxic_color_5);
}