:root {
	/*
	--super:	rgba(60,200,0,1);
	--ultra:	rgba(40,150,0,1);
	--bright: 	rgba(25,110,0,1);
	--medium: 	rgba(15,65,0,1);
	--dark: 	rgba(5,20,0,1);
	*/
	
	--super: rgba(130, 195, 40, 1);
	--ultra: rgba(100, 150, 32, 1);
	--bright: rgba(70, 105, 24, 1);
	--medium: rgba(40, 60, 16, 1);
	--dark: rgba(10, 15, 8, 1);
}

header {
	background-image: url("../assets/mp_toxic/banner.jpg");
	background-color: var(--dark);
}

footer {
	background-image: linear-gradient(to right, var(--dark), var(--bright));
	border-color: var(--ultra);
}

footer p {
	color: var(--super);
}

.map {
	background-image: linear-gradient(to right, var(--dark), var(--medium));
}

.active {
	background-image: linear-gradient(to left, var(--medium), var(--bright));
	border-color: var(--ultra);
}

.mapcontent {
	background-color: var(--medium);
}

.mapcontent p {
	color: var(--ultra);
}

.mapcontent h1 {
	color: var(--super);
}

.sidebar {
	background-image: linear-gradient(to right, var(--medium), var(--bright));
}

.credits {
	background-image: linear-gradient(to left, var(--medium), var(--bright));
	border-color: var(--ultra);
}

.download {
	background-image: linear-gradient(to left, var(--medium), var(--bright));
	border-color: var(--ultra);
}

.image {
	border-color: var(--ultra);
}

.yt iframe{
	border-color: var(--ultra);
}

.icon {
	fill: var(--super);
}