@import "colors.css";

:root {
	--maplink: rgba(25,25,25,1);
}

@font-face {
	font-family: ggpp;
	src: url(../assets/GoGoPosterPunchItalic.ttf);
}

* {
	box-sizing: border-box
}

html {
	min-height: 100%;
	margin: 0;
}

body {
	font-family: Orbitron;
	letter-spacing: 1px;
	line-height: 30px;
	margin: 0;
}

header {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:center top;
	background-size: contain;
	width: 100%;
	height: 0;
	padding-bottom: 15%;
	position: relative;
}

footer {
  	text-align: center;
  	color: white;
  	width: 100%;
	padding-top: 12px;
	display: flex;
	border-top-style: ridge;
	border-width: 5px;
}

footer a {
	text-decoration: none;
}

footer p {
	margin-left: 32px;
	font-size: 15px;
	position: absolute;
}

.icons {
	margin-left: auto;
	margin-right: auto;
}

.icon {
	width: 32px;
	height: 32px;
	margin: 16px;
	transition: 0.25s;
}

.icon:hover {
	transform: scale(1.25);
}

map-navigation {
	flex: 1;
}

.link {
	display: flex;
	background-color: inherit;
	color: white;
	padding: 0px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	font-size: 20px;
	cursor: pointer;
	flex-direction: row;
	align-items: center;
	border-left: ridge;
}

#exit .name {
	font-family: Orbitron;
	font-size: 16px;
	font-style: italic;
}

.name {
	font-family: ggpp;
}

.link:not(.active) {
	border-width: 0px;
	transition: 0.25s;
}

.link:not(.active):hover {
	border-width: 5px;
}

.name p {
	transition: 0.25s;
}

.year {
	font-size: 12px;
	font-style: italic;
	margin-left: auto;
	margin-right: 0;
}

#currentpage {
	border-width: 5px;
}

#header {
	font-family: ggpp;
	font-size: 5vw;
	text-shadow: 4px 4px 8px black;
	margin-top: 0px;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mapcontent {
	padding-left: 32px;
	color: white;
	flex: 3;
}

.mapcontent h1 {
	margin-top: 64px;
	margin-bottom: -32px;
	text-shadow: 2px 2px 4px black;
}

.mapcontent p {
	margin-top: 64px;
	margin-bottom: 64px;
	font-size: 20px;
	text-shadow: 2px 2px 4px black;
}

.mapcontent a {
	color: white;
}

.maplink {
	text-shadow: 2px 2px 4px black, 2px 2px 4px white; 
}

.sidebar {
	padding-top: 32px;
	padding-right: 32px;
	padding-left: 32px;
	flex: 1;
}

.credits {
	display: block;
	color: white;
	text-shadow: 2px 2px 4px black;
	padding: 16px;
	width: 100%;
	border-style: ridge;
	border-width: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 32px;
}

.credits li {
	text-shadow: 2px 2px 4px black;
	font-weight: normal;
}

.credits p {
	text-align: left;
}

.download {
	padding: 22px 16px;
	border-style: ridge;
	border-width: 5px;
	text-align: center;
	cursor: pointer;
	margin-bottom: 24px;
}

.download p {
	color: white;
	text-shadow: 2px 2px 4px black;
	font-family: ggpp;
	font-size: 25px;
	margin: 0;
	transition: 0.25s;
}

.download:hover > p {
	transform: scale(1.1);
}

.credits li,
.logs p,
.logs li {
	text-align: left;
	font-style: italic;
	color: #fff;
	text-shadow: 1px 1px 2px black;
}

.logs p {
	margin-bottom: -16px;
	line-height: 24px;
}

.logs li {
	font-size: 14px;
	line-height: 22px;
}

map-image img {
	width: 100%;
	border-style: ridge;
	border-width: 5px;
}

.yt{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	margin-top: 32px;
	height: 0;
}

.yt iframe{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	border-style: ridge;
	border-width: 5px;
}

.wt {
	margin-bottom: 32px;
	margin-top: -48px;
}

.content {
	display: flex;
}

#mp_toxic {
	background-image: linear-gradient(to left, var(--maplink), var(--mp_toxic_color_3));
	border-color: var(--mp_toxic_color_4) !important;
}

#mp_dark_final {
	background-image: linear-gradient(to left, var(--maplink), var(--mp_dark_final_color_3));
	border-color: var(--mp_dark_final_color_4) !important;
}

#mp_mody_v4 {
	background-image: linear-gradient(to left, var(--maplink), var(--mp_mody_v4_color_3));
	border-color: var(--mp_mody_v4_color_4) !important;
}

#mp_sierra {
	background-image: linear-gradient(to left, var(--maplink), rgba(180,60,0,1));
}

#mp_strobe {
	background-image: linear-gradient(to left, var(--maplink), rgba(0,150,150,1));
}
